/**
 * @section Base Styles
 */

$text: #313131;
$bg: #ffffff;
$headerBg: #222222;

* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

html {
	overflow: hidden;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-overflow-scrolling: touch;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: sans-serif;
	overflow-x: hidden;
}

body {
	margin-top: 77px;
	height: calc(100% - 77px);
	color: $text;
	overflow-x: hidden;
	background: $bg;
	position: relative;

	div {
		position: relative;
	}

	&>div {
		overflow-x: hidden;
	}

	&.popup {
		overflow: hidden;
	}
}

a {
	color: $text;
	cursor: pointer !important;
	text-decoration: none;
	&:hover {
		color: $text;
		text-decoration: none;
	}
}

input,
textarea,
select,
button {
	font: inherit;
}